@media (min-width: 320px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1140px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
