<a class="open-icon" (click)="showChat()"
  ><img src="../../assets/images/chat.png" alt="chat-icon"
/></a>

<section class="msger" *ngIf="isChatShown">
  <header class="msger-header">
    <div class="msger-header-title">Chat</div>
    <div class="msger-header-minimize">
      <button class="msger-header-hide-chat" (click)="hideChat()">—</button>
    </div>
  </header>

  <main class="msger-chat">
    <div class="msg left-msg" *ngFor="let message of messages">
      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">{{message.full_name}}</div>
          <div class="msg-info-time">12:45</div>
        </div>

        <div class="msg-text">
          {{ message.message }}
        </div>
      </div>
    </div>

    <div class="msg right-msg">
      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">Test 2</div>
          <div class="msg-info-time">12:46</div>
        </div>

        <div class="msg-text">dasdasdas</div>
      </div>
    </div>
  </main>

  <form class="msger-inputarea">
    <input
      type="text"
      class="msger-input"
      placeholder="Enter your message..."
      [(ngModel)]="writtenMessage"
      name="message"
    />
    <a type="submit" class="msger-send-btn">
      <i
        class="fa fa-paper-plane-o"
        aria-hidden="true"
        (click)="sendMessage()"
      ></i>
    </a>
  </form>
</section>
