.container {
  padding: 2px 16px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;

  img {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

button {
  transition: 0.25s;
  background: none;
  border: 2px solid;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: #8fc866;
    box-shadow: 0 0.5em 0.5em -0.4em black;
    transform: translateY(-0.25em);
  }
}

.button-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
