.games-grid {
  display: grid;
  gap: 15px;
  max-width: 1180px;
  margin-top: 10px;
}

@media(min-width: 325px) {
  .games-grid {
    grid-template-columns: 1fr;
  }
}

@media(min-width: 768px) {
  .games-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 1200px) {
  .games-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}